:root {
    --accent-color: #;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: rgb(15, 18, 27);
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 67px;
    color: #ffffff;
}

h2 {
    font-size: 50px;
    color: #ffffff;
}

h3 {
    font-size: 38px;
    color: #ffffffdc;
}

h4 {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.5)
}

h5 {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.5)
}

a {
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 31px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 50px;
    height: calc(60vh);
}

/* Sections */
section {
    margin: 0 auto;
    background-color: #0000006b;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-bottom: black solid 5px;
}

section:first-of-type {
    border-top: black solid 5px;
}

.content {
    margin: 0;
    padding: 0;
    width: 80%;
}

.element, .sub-element {
    margin: 10px 0;
}

@media only screen and (max-width: 900px) {
    .content {
        width: 95%;
    }
}

/* Movie Section */
#movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.movie-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.movie-block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.vote-bar {
    position: relative;
    width: 90%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 1rem;
    overflow: hidden;
}

.like-bar, .dislike-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    border-radius: 10px;
    margin: 0;
}
  
.like-bar {
    left: 0;
    background-color: #00cf2d;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.dislike-bar {
    right: 0;
    background-color: #c90000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.like-count, .dislike-count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.like-count {
    left: 10px;
}

.dislike-count {
    right: 10px;
}

.rate {
    display: flex;
    justify-content: center;
}

.rate button {
    margin: 0 10px;
    width: 75px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #0077ff;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {
    #movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    #movies {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Projects section */
#projects .element {
    background-color: #00000a60;
    margin: 0;
    padding: 10px;
}

#projects .element:hover {
    background-color: #0d1d31;
}

#projects .element:first-of-type {
    border-radius: 20px 20px 0 0;
}

#projects .element:last-of-type {
    border-radius: 0 0 20px 20px;
}

#projects a {
    color: #ffffff;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #4d4d4d;
}